# Settings
imap fd <ESC>
set number
set relativenumber
set clipboard=unnamedplus
set ignorecase
set smartcase
set wrap
set highlightedyank
let g:highlightedyank_highlight_duration = "100"

# Keybinds
let mapleader = " "
map <leader>ff <Action>(GotoFile)
map <leader>fw <Action>(SaveDocument)
map <leader>fg <Action>(FindInPath)

map K <Action>(ShowHoverInfo)

map <C-d> <C-d>zz
map <C-u> <C-u>zz

map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

map <C-f> <Action>(ReformatCode)
