/stowable/nvim/.config/nvim/plugin/packer_compiled.lua
/stowable/thunar/.config/Thunar/renamerrc
/stowable/thunar/.config/Thunar/accels.scm
/stowable/nvim/.config/nvim/plugin/packer_compiled.lua
/install.sh
