/stowable/nvim/.config/nvim/plugged/
/stowable/thunar/.config/Thunar/renamerrc
stowable/thunar/.config/Thunar/accels.scm
/stowable/symlinks/.local/share/
/stowable/symlinks/.local/state/
/stowable/symlinks/.local/include/
/stowable/symlinks/.local/lib/
/stowable/symlinks/.local/bin/wheel
/stowable/symlinks/.local/bin/flask
/install.sh
