@import "./gruvbox.css";

* {
  font-family: JetBrains Mono NL;
  font-weight: 600;
  font-size: 14px;
}

#mode,
#tray,
#custom-media,
#memory,
#temperature,
#network,
#pulseaudio,
#battery,
#clock,
#backlight {
  padding: 0 5px 0;
  margin: 0px 5px;
  border-radius: 0px;
  color: @light0;
}

#waybar {
  opacity: 1;
  color: @light1;
}

#workspaces button {
  border-radius: 0px;
  background-color: @dark0;
  color: @light1;
  transition: none;
}

#workspaces button.focused {
  background-color: @bright_blue;
  color: @dark0;
  transition: none;
}

#workspaces button.urgent {
  background-color: @bright_red;
  color: @dark0;
  transition: none;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}
