[Unit]
Description=Set color temperature of display according to time of day
Documentation=https://gitlab.com/chinstrap/gammastep
BindsTo=sway-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/gammastep -l 41:28 -t 6700:4000
Restart=always

[Install]
WantedBy=sway-session.target
