*{
  font-family: Noto Sans Mono ;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 3px solid #458588;
  background-color: #282828;
}

#input {
  border: none;
  border-radius: 0px;
  margin: 5px;
  color: #f8f8f2;
  background-color: #504945;
}

#inner-box {
  margin: 5px;
  background-color: #282828;
}

#outer-box {
  margin: 10px;
  background-color: #282828;
}

#scroll {
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d5c4a1;
}

#entry:selected {
  border-radius: 0px;
  color: #bdae93;
}

#text:selected {
  color: #1d2021;
}

