* {
  font-family: JetBrains Mono NL;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 2px solid #83A598;
  border-radius: 0px;
  opacity: 1;
  background-color: #282828;
}

#input {
  border: none;
  border-radius: 0px;
  padding: 7px;
  margin: 5px;
  color: #f8f8f2;
  background-color: #504945;
}

#inner-box {
  margin: 5px;
  background-color: #282828;
}

#outer-box {
  margin: 10px;
  background-color: #282828;
}

#scroll {
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d5c4a1;
  background-color: transparent;
}

#entry {
  border-radius: 0px;
  padding: 7px;
}

#entry:selected {
  border-radius: 0px;
  padding: 7px;
  outline: none;
  background-color: #83A598;
}

#text:selected {
  color: #1d2021;
}

#img:selected {
  background-color: transparent;
}
